// Import all scss moove files.
@import "moove/transitions";
@import "moove/variables";
@import "moove/general";
@import "moove/pages";
@import "moove/blocks";
@import "moove/drawers";
@import "moove/navbar";
@import "moove/footer";
@import "moove/breadcrumb";
@import "moove/course";
@import "moove/mixins/accessibilityfontsize";
@import "moove/accessibilitybar";
@import "moove/accessibilitystyles";
@import "moove/login";
@import "moove/mydashboard";
@import "moove/frontpage";
@import "moove/profile";
@import "moove/enrol";


// This css is for report section cards UI 
.report-card {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border:1px solid orange;
    box-shadow: none;
    border-right: 3px solid orange; 
    border-top: none; 
    border-bottom: none; 
    border-left: none; 
}
  
.report-card:hover {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

body.pagelayout-incourse #region-main a:not(.btn),body.pagelayout-incourse .section-navigation>a:not(.btn) {
    text-decoration: none;
    font-size:1.2rem;
}

#card-container{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    width:100%;
}
      
@media (max-width: 800px) {
    #card-container{
        display:grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .report-card {
        border-bottom: 2px solid orange; 
        border-top: none; 
        border-right: none; 
        border-left: none; 
    }
}

