// Import all scss moove files.
@import "moove/transitions";
@import "moove/variables";
@import "moove/general";
@import "moove/pages";
@import "moove/blocks";
@import "moove/drawers";
@import "moove/navbar";
@import "moove/footer";
@import "moove/breadcrumb";
@import "moove/course";
@import "moove/mixins/accessibilityfontsize";
@import "moove/accessibilitybar";
@import "moove/accessibilitystyles";
@import "moove/login";
@import "moove/mydashboard";
@import "moove/frontpage";
@import "moove/profile";
@import "moove/enrol";



.report-card {
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(247, 147, 17, 0.12) 0px 2px 4px 0px, rgba(247, 147, 17, 0.32) 0px 2px 16px 0px;
    transition: box-shadow 0.3s ease; 
  }
  
  .report-card:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  }
      body.pagelayout-incourse #region-main a:not(.btn),body.pagelayout-incourse .section-navigation>a:not(.btn) {
        text-decoration: none;
        font-size:1.2rem;
      }
      #card-container{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap:30px;
        width:100%;
      }
      
      @media (max-width: 800px) {
      #card-container{
      display:grid;
      grid-template-columns: repeat(1, 1fr);
      }
      }